@model List<Projeto.Presentation.Models.ProdutoConsultaModel>

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Consulta de Produtos</h4>
<hr />

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-2">
            <label>Preço de:</label>
            <input type="text" class="form-control" name="precoMin"/>
        </div>
        <div class="col-md-2">
            <label>Preço até:</label>
            <input type="text" class="form-control" name="precoMax"/>
        </div>        
    </div>
    <br/>
    <input type="submit" value="Pesquisar Produtos"
           class="btn btn-success btn-sm"/>
    <br/>
}

<strong>@TempData["Mensagem"]</strong>

<table class="table table-borderless table-striped table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome do Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Estoque</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdProduto</td>
                <td>@item.Nome</td>
                <td>@item.Preco.ToString("c")</td>
                <td>@item.Quantidade</td>
                <td>@item.Estoque.Nome</td>
                <td>
                    <a href="/Produto/Edicao/@item.IdProduto" class="btn btn-primary btn-sm">Atualizar</a>
                    <a href="/Produto/Exclusao/@item.IdProduto" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Quantidade de registros: @Model.Count</td>
        </tr>
    </tfoot>
</table>

